body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    margin: 20px;
}

h2 {
    color: #4CAF50;
}

#character-list {
    list-style-type: none;
    margin-inline: ;
}

#character-list li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 0px;
    font-style: italic;
    font-size: larger;
}

#character-list li:hover {
    background-color: #e0e0e0;
}

#character-details {
    margin-top: 20px;
    font-weight: bolder;

}

label {
    display: block;
    margin-bottom: 5px;
    color: #4CAF50;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;

}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#btn {
    margin-top: 20px;
}

#voteButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#voteButton:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}
